* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

.light {
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
}

.dark {
  display: flex;
  background-color: darkgreen;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
}

.nav2 {
  display: flex;
  gap: 30px;
}

button {
  padding: 10px;
  color: #333;
  margin: 15px;
  font-weight: bold;
  font-size: large;
}
