* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #222;
}

.parent {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 30px;
  background-color: #222;
}

.card {
  height: 360px;
  width: 250px;
  background-color: #fff;
  display: flex;
  padding: 20px;
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  justify-content: space-between;
}

.top .status {
  border-radius: 30%;
  background-color: #0bda51;
  padding: 3px 7px;
  color: #fff;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center .post {
  font-size: 10px;
  color: #8b8b8b;
}

.center .skills {
  display: flex;
  justify-content: space-between;
}

.center .skills h5 {
  padding: 3px 8px;
  border-radius: 40%;
  border: 1px solid #999;
  background-color: transparent;
}

.center p {
  font-size: 10px;
  color: #8b8b8b;
}
