* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #333; */
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}

.parent {
  height: 100%;
  width: 100%;
  display: flex;
  /* padding: 30px; */
  background-color: #f2f2f2;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 360px;
  width: 250px;
  background-color: #fff;
  display: flex;
  /* padding: 20px; */
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 10px #ebebeb;
  position: relative;
}

.card .topPart {
  padding: 20px;
  height: 309px;
  width: 250px;
}

.card .top {
  display: flex;
  justify-content: space-between;
}

.top .status {
  border-radius: 15px;
  background-color: #0dea92;
  padding: 3px 7px;
  color: #fff;
}

.card .pay {
  color: #333;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px gainsboro;
  object-fit: cover;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center .name {
  color: #333;
}

.center .post {
  font-size: 10px;
  color: #8b8b8b;
}

.center .skills {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap; /* Prevents text from wrapping to a new line */
  text-overflow: ellipsis; /* Adds "..." to truncated text */
  /* box-sizing: border-box; */
}

.center .skills h6 {
  padding: 3px 8px;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  background-color: transparent;
}

.center p {
  font-size: 10px;
  color: #8b8b8b;
  text-align: center;
}

.center .company {
  display: flex;
  gap: 3px;
}

.center .company h6 {
  color: #0dea92;
}

.bottom {
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  height: 55px;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #ebebeb;
  color: #111;
  font-weight: 600;
}

.bottom:hover {
  background-color: cornflowerblue;
  color: #fff;
  border: none;
}
