* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

button {
  color: #000;
  padding: 7px 7px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}
