* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #222;
  color: #fff;
}

.card {
  background-color: maroon;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav {
  background-color: cadetblue;
  color: black;
  margin: 5px;
  padding: 20px;
}
