* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  white-space: nowrap;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(6, 123, 166);
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
}
